.main{
  background: #2d3436;
  color: tomato;
  padding: 20px 5%;
  width: 90%;
  height: 200px;
  overflow: visible; /* default*/
  overflow: hidden;
  overflow: auto;
  /* overflow: scroll;
  overflow-y: ;
  overflow-x: ; */

}