p{
  color: blueviolet;
}

/* div er vitorer p select korar jonno */
div p{
  font-weight: bold;
}

/* div er vitorer child gula select korar jonno */
div > p{
  color: tomato;
}

/* div je jaygay ses hoy tar porer tag k select korar jonno */
div + p{
  color: aqua;
}
section + p{
  color: blue;
}

/* div je jaygay ses hoy tar porer sokol tag select korar jonno  */
div ~ p{
  color: #ff9ff3;
}
section ~ p{
  color: #feca57;
}

.parent p{
  color: black;
}
.parent > p{
  color: #01a3a4;

}