body{
  margin: 0;
}
div{
  background: aqua;
  width: 400px;
  height: 400px;
    margin: 0;
  /* margin-left: 20px;
  margin-top: 20px; */

}


.main{
  position: relative; 
  top: 50px;
  left: 50px;
}

.sec{
  background: blueviolet;
  width: 100px;
  height: 100px;
  right: 10px;
  bottom: 10px;
  position: fixed;
}
.child{
  background: #2ecc71;
  width: 50px;
  height: 50px;
  left: auto;
  left: 50%;
  margin-left: -25px;
  position: relative;
  position: absolute; 
  top: 50%;
  margin-top: -25px;

  /* zindex use korar jonno position must be thakte hobe nahole eta kaj korbe nah */
  z-index: 3;
  
}
.child2{
  background: #9b59b6;
  width: 100px;
  height: 100px;
  left: auto;
  left: 50%;
  margin-left: -50px;
  position: relative;
  position: absolute; 
  top: 50%;
  margin-top: -50px;
  z-index: 2;
}
.child3{
  background:blue;
  width: 200px;
  height: 200px;
  left: auto;
  left: 50%;
  margin-left: -100px;
  position: relative;
  position: absolute; 
  top: 50%;
  margin-top: -100px;
  z-index: 1;
}

