body{
  font-family: "Poppins", sans-serif;
  margin: 0;
}
#main_menu{
  background: #34495e;
}
#main_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#main_menu li{
  display: inline-block;
position: relative;
}
#main_menu li a{
  display: block;
  padding: 12px 15px;
  color: white;
  text-decoration: none;

}
#main_menu li a:hover{
  background: #9b59b6;
}

/* drop down menu style */
#main_menu ul ul{
  position: absolute;
  left: 0;
  top: 47;
  background: #3498db;
  width: 200px;
  display: none;
  z-index: 99;
}
#main_menu ul ul li{
  display: block;
}

#main_menu ul li:hover ul{
  display: block;
}
#main_menu ul li:hover a{
  background: #9b59b6;
}
#main_menu ul li:hover li a{
  background: none;
}
#main_menu ul ul li a:hover{
  background: #a4b0be;
}