table, th, td{
  border: 2px solid #1abc9c;
  border-collapse: collapse;
  padding: 5px 10px;
}

table{
  width: 30%;
}
th{
  background: #9b59b6;
  border: 2px solid #9b59b6;
  height: 50px;
  text-align: center;
  color: white;
}
td{
  background: #3498db;
  border: 2px solid #95a5a6;
  height: 35px;
}
tr:hover th{
  background: #e74c3c;
}
tr:hover td{
  background: #2ecc71;
}

div{
  width: 450px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: scroll;
}