ul{
  list-style-type: disc; /* default */
  list-style-type:armenian;
  list-style-type:circle;
  list-style-type:decimal;
  list-style-type:decimal-leading-zero;
  list-style-type:georgian;
  list-style-type:lower-alpha;
  list-style-type:lower-greek;
  list-style-type:lower-latin;
  list-style-type:square;
  list-style-type:upper-alpha;
  list-style-type:upper-roman;
   list-style-type:lower-roman;

   list-style-image: url(); /* kono image use korte hole*/


   /* list er position er jonno  */
   list-style-position: inside;
   list-style-position: outside; /* default */ 

}

.list{
  list-style-type: square;
  background: tomato;
  padding: 25px;
  list-style-position: inside;
  border-radius: 20px;

}

.at{
  background: violet;
  padding: 5px;
  border-bottom: 2px solid tomato;
}