#header_area{
  padding: 15px 0px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* main menu style */
#main_menu{
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}
#main_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#main_menu ul li{
  display: inline-block;
  margin: 0px 8px;
}
#main_menu ul a{
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
#main_menu ul a:hover{
  color: #0573e6;
}

/* content style */
#content{
  width: 1140px;
  margin: 10px auto;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding-bottom: 10px;
}

#main_content{
  width: 70% ;
  padding: 10px 2%;
  border-right: 1px solid #ddd;
  float: left;
}
.child_content{
  padding: 10px 1%;
  width: 30%;
  float: left;
  margin-left: 1%;
  height: 250px;
}
.child_content:first-child{
  padding: 10px 1%;
  width: 63%;
  float: left;
  margin-left: 1%;
}
.child_content:first-child img{
  display: block;
  float: right;
  margin-left: 15px;
}
.child_content img{
  max-width: 100%;
  display: none;
}
.child_content h2{
  margin: 0 0 5px;
  font-size: 18px;
}
.child_content h2 a{
  color: black;
  text-decoration: none;
}
.child_content p{
  max-width: 100%;
}

/* sideber style */
#main_sideber{
  width: 21%;
  float: right;
  padding: 10px 2%;
}


.child_sideber{
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.child_sideber:last-child{
  margin-bottom: 0px;
  border-bottom: px solid ;
}

.child_sideber img{
  max-width: 100%;
}
.child_sideber h3{
  margin: 0 0 5px;
  font-size: 18px;
}
.child_sideber h3 a{
  color: black;
  text-decoration: none;
}

/* footer area */
#footer_area{
  padding: 15px 0;
  text-align: center;
}