/* img{
  max-width: 90%;
  opacity: 1;
}
img:hover{
  opacity: 0.4;
} */
.child_service{
  text-align: center;
  color: white;
  width: 300px;
  margin: 25px auto;
  position: relative;
  overflow: hidden;
}
.child_service img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: 100%;
  transition: 0.3s;
}
.child_service:hover img{
  transform: scale(1.2);
}
.inner_service{
  padding: 10% 5%;
  position: absolute;
  width: 90%;
  height: 85%;
  top: -500px;
  left: 0;
  z-index: 99;
  transition: 0.9s;
}
.inner_service::after{
  background: #34495e;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
.child_service h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  margin-bottom: 0;
}
.child_service a{
  display: inline-block;
  margin-top: 15px;
  background: #3498db;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}
.child_service a:hover{
  background: #e67e22;
  font-size: 20px;
}
.child_service:hover .inner_service{
top: 0;
}