body{
  margin: 0;
}
div{
  background: aqua;
  width: 400px;
  height: 400px;
    margin: 0;
  /* margin-left: 20px;
  margin-top: 20px; */

}


.main{
  position: relative; /* top, bottom, left, right egula kaj korbe sudhu position relative er jonno */
  top: 50px;/*eta kaj korbe position er upor nirvor kore, and eta use kora hoy overlaping er jonno*/
  left: 50px;
}

.sec{
  background: blueviolet;
  width: 100px;
  height: 100px;
  right: 10px;
  bottom: 10px;
  position: fixed;
}
.child{
  background: palevioletred;
  width: 50px;
  height: 50px;
  left: auto;
  left: 50%;
  margin-left: -25px;
  position: relative;/* position relative use hoy sudhu left right top bottom er jonno, kintu ekhane puro control kora jay na*/
  position: absolute; /* position absolute use korle etar puro control kora jay, eta independend vabe kaj korte pare na, eta always parent div er upor nirvor kore kaj kore, position absolute use korte hole parent div er vitore must position relative or fixed thakte hobe*/

  top: 50%;
  margin-top: -25px;
}

.stk{
  width: 100%;
  height: 100px;
  background: #e67e22;
  top: 0;
  left: 0;
  position: sticky;
}